ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li{
    width: calc( 100% / 3 - 2 * 10px);
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: auto auto 1%;
}

li:hover{
    outline: 2px solid red;
}


video{
    width: 70%;
    margin: auto;
    object-fit: cover;
    height: 70%;
}

#video-name{
    color: white;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: smaller;
}

.

@media screen and (max-width: 500px){
    li:nth-child(1){
        margin-top: 1%;
    }

    ul{
        flex-direction: column;
        width: 100%;
    }
}