<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/video.css">
    <link rel="icon" href="../static/image/logo.svg">
    <title>Все видео</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <img class="logo" src="../static/image/logo.svg" alt="лого">
            <div class="project_name">UrFUBE</div>
        </header>

        <main>
            <aside>
                <nav>
                    <a href="/">Все видео</a>
                    <a href="/upload" id="tag-upload">Добавить видео</a>
                    <a href="/login" id="tag-login">Войти</a>
                    <a href="/registration" id="tag-registration" >Регистрация</a>
                    <a href="/" id="tag-logout" >Выйти</a>
                </nav>
            </aside>
            <div class="content-wrapper">
                <div id="video">

                    <div id="video_content">
                        <video controls src="{{ video.video }}"></video>
                        <p id="video-name">{{ video.name }}</p>
                    </div>

                    <div class="bths">
                        <div id="like_block">
                            <img class="like" src="../static/image/like.svg" alt="Лайкосик">
                            <p id="count_likes">{{ count_like }}</p>
                            <input type="checkbox" hidden="hidden" id="checked">
                        </div>
                        <form  id="video_form" method="post" enctype="multipart/form-data" name="{{ video.id }}">

                            <label for="jwt"></label>
                            <input type="hidden" name="jwttoken" id="jwt" value="-" required>

                            <div class="form">
                                <button type="submit">
                                    <img class="img" src="../static/image/trash.svg" alt="мусорка">
                                    <p>Удалить</p>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="fio">
            </div>
        </footer>
    </div>

    <script src="../static/js/jwt.js"></script>
    <script src="../static/js/navigation.js"></script>
    <script src="../static/js/video.js"></script>
</body>
</html>